# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Dataset
# =========================
data/*.csv

# =========================
# Trained Models
# =========================
models/*.pkl
models/*.joblib

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Python / Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Environment / Secrets
# =========================
.env
.env.*